
@model ASP_DotnetCoreMVC_CRUD.Models.Unit

<h4 class="text text-info mt-3 "> Les détails de l'objet </h4>

<form method="post" asp-action="Details">
    @*<input asp-for="Id" hidden />*@
    <div class="border p-3 mt-2">
        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" disabled class="form-control" />

        </div>

        <div class="mb-3">
            <label>Description</label>
            <input asp-for="Description" disabled class="form-control" />

        </div>
       
        <a type="submit" class="btn btn-secondary " asp-controller="Unit" asp-action="Index" style="width:150px"> Back to List</a>
    </div>
</form>

